<h1>List of users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th>Follow/Unfollow</th>
    <th>Details</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.private ? 'Yes' : 'No' %></td>
      <td>


<% if current_user %>
  <% if current_user != user %> 
<% the_request = FollowRequest.find_by(sender_id: current_user.id, recipient_id: user.id) %>
<% if the_request && the_request.status == 'pending' %>


      <form action="<%= cancel_request_path(user) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
        Request sent
        <a href=""/delete_follow_request/:user_id">
        Cancel
        </a>


    <% elsif current_user.following?(user) %>
      <%= form_with(url: unfollow_user_path(user), method: :delete, local: true) do %>


     <a href=""/delete_follow_request/:user_id">
        Unfollow
        </a>
      <% end %>
    <% else %>
      <%= form_with(url: insert_follow_request_path, method: :post, local: true) do %>
        <%= hidden_field_tag 'query_sender_id', current_user.id %>
        <%= hidden_field_tag 'query_recipient_id', user.id %>
        <%= hidden_field_tag 'query_status', 'pending' %>
        <button>
          Follow
        </button>
      <% end %>
    <% end %>
  <% else %>
    <%# If the user is trying to follow themselves %>
    <% if current_user.following?(user) %>
      <%= form_with(url: unfollow_user_path(user), method: :delete, local: true) do %>
        <button type="submit">
          Unfollow
        </button>
      <% end %>
    <% else %>
      <%= form_with(url: insert_follow_request_path, method: :post, local: true) do %>
        <%= hidden_field_tag 'query_sender_id', current_user.id %>
        <%= hidden_field_tag 'query_recipient_id', user.id %>
        <%= hidden_field_tag 'query_status', 'pending' %>
        <button>
          Follow
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>

      </td>
      <td><a href="<%= user_path(user.username) %>">Show details</a></td>
    </tr>
  <% end %>
</table>
